# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Neon PostgreSQL Database
DATABASE_URL="your_database_url_here"

# Brevo (formerly Sendinblue) API Key
BREVO_API_KEY="your_brevo_api_key_here"